
export(tree.kernel)
export(utk)

export(load.config)
export(set.model)
export(sample.priors)
export(prior.density)
export(propose)
export(proposal.density)
export(print.smc.config)
export(plot.smc.config)

export(parse.input.tree)
export(get.tip.heights)
export(parse.labels)
export(init.workspace)
export(print.smc.workspace)

export(simulate.trees)
export(distance)
export(initialize.smc)
export(ess)
export(epsilon.obj.func)
export(next.epsilon)
export(resample.particles)
export(perturb.particles)
export(run.smc)

export(const.coalescent)

useDynLib(Kaphi)
